.calaculateWrapper {
  width: 45%;
  height: 70vh;
}
.calaculateWrapper h2 {
  font-size: 17px;
  font-weight: bolder;
  text-transform: capitalize;
  color: rgb(157, 53, 15);
  padding-bottom: 35px;
}
.calaculateWrapper button {
  margin-top: 35px;
  width: 170px;
  padding-block: 5px;
  background-color: rgb(210, 205, 205);
  border: none;
  outline: none;
  font-family: sans-serif;
  border-radius: 7px;
  cursor: pointer;
}
