.wrapper {
  width: 100vw;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 25px;
}
.wrapper a {
  text-decoration: none;
}
.logoWrapper {
  width: 350px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.logoWrapper img {
  width: 40px;
  height: 40px;
}
.logoWrapper h2 {
  font-size: 16px;
  font-weight: 800;
  color: #333;
}
.wrapper ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
}
.wrapper ul li {
  padding: 10px;
  margin-block: 5px;
  cursor: pointer;
}
.wrapper ul li a {
  color: #333;
  padding-inline: 14px;
  padding-block: 3px;
}
.wrapper ul li a:global(.active) {
  border-bottom: 2px solid rgb(28, 232, 45);
}
